.big-button-wrapper {
    display: flex;
    align-items: center;
    height: 100px;
}

.big-button {
    width: 100%;
    font-size: 24pt;
    background-color: #4D56A3;
    color: white;
    border-radius: 15px;
    border-bottom: 5px solid #272D55;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.big-button:hover {
    background-color: #6370D4;
}

.big-button:active, .big-button:focus {
    background-color: #6370D4;
    border-bottom: 0px;
}
