.cart-wrapper {
    max-width: 90vw;
    margin-left: 5vw;
}

.cart-title {
    width: 100%;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

.cart-item-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-remove {
    margin-right: 20px;
}

.cart-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item-image-wrapper {
    margin-right: 20px;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.cart-item-name {
    font-size: 24pt;
}

.cart-item-price {
    font-size: 24pt;
    color: darkgreen;
}

@media screen and (max-width: 650px) {
    .cart-item-image-wrapper {
        display: none;
    }

    .cart-item-wrapper {
        flex-direction: column;
        align-items: baseline;
    }

    .cart-item-wrapper > *:last-child {
        align-self: flex-end;
    }
}
