.category-button-wrapper {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    margin-bottom: 5px;
    background-repeat: none;
    background-position: center;
    background-size: 100% auto;
}

.category-button-name {
    display: block;
    color: white;
    font-size: 32pt;
    height: 75px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 50px;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.75)
}
