.category-wrapper {
    width: 90%;
    margin-left: 5%;
}

.subcategory-wrapper {
    margin-bottom: 20px;
}

.subcategory-name {
    width: 100%;
    font-size: 16pt;
}

.item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-image {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.item-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.item-name-and-price {
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
    font-size: 20pt;
}

.item-price {
    color: green;
    margin-left: 10px;
}

.item-description {
    font-size: 14pt;
    text-align: justify;
}

.item-buy-link {
    text-decoration: none;
}

.item-buy {
    font-size: 16pt;
    background-color: #83B383;
    color: white;
    border-radius: 15px;
    border-bottom: 5px solid darkgreen;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    text-align: center;
}

.item-buy:hover {
    background-color: #9CD49C;
}

.item-buy:active, .item-buy:focus {
    background-color: #83B383;
    border-bottom: 0px;
}

@media screen and (max-width: 650px) {

    .subcategory-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .item-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .item-image {
        margin-bottom: 20px;
    }

    .item-info-wrapper {
        flex-direction: column;
    }

    .item-name-and-price {
        text-align: center;
        margin-bottom: 20px;
    }

    .item-buy-link {
        width: 100%;
        max-width: 320px;
    }

    .item-description {
        margin-bottom: 20px;
    }
}
