.item-customize-wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.item-customize-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 20px;
}

.option-wrapper {
    margin-bottom: 20px;
}

.option-name {
    font-size: 16pt;
}

.option-radio-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option-radio-item {
    display: flex;
    align-items: center;
    font-size: 16pt;
    margin: 10px;
}

.option-radio {
    width: 75px;
    height: 75px;
    background-color: green;
    margin-right: 15px;
}

.option-text-wrapper {
    width: 100%;
    height: 100px;
}

.option-text {
    width: 100%;
    height: 100px;
    font-size: 16pt;
    background-color: black;
    color: white;
}

.option-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option-checkbox-item {
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.option-checkbox {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: green;
}
