.layout-wrapper {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.layout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
}

.layout-header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    padding: 10px;
}

.layout-header-back-button, .layout-header-cart-button {
    color: white;
    text-decoration: none;
}

.cart-link-wrapper {
    display: flex;
    flex-direction: row;
}

.cart-link {
    text-decoration: none;
    color: inherit;
}

.cart-count {
    text-decoration: none;
    background-color: red;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    border-radius: 50%;
}

.layout-header-logo-container {
    display: flex;
    max-height: 150px;
}

.layout-header-logo {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.layout-body {
    margin-top: 20px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.layout-footer {
    align-self: center;
}
