.xbutton-wrapper {
    display: flex;
    align-items: center;
    height: 100px;
}

.xbutton-container {
    font-size: 32px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #BB4444;
    border-radius: 33%;
    border-bottom: 5px solid #6B2626;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.xbutton-container:hover {
    background-color: lightcoral;
    border-bottom: 5px solid #BB4444;
}

.xbutton-container:active, .xbutton-container:focus {
    background-color: #BB4444;
    border-bottom: 0px;
}
